@model IEnumerable<RestaurantPanelMVC.Web.ViewModels.MenuVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {


        <thead>
            <tr>
                <th>
                    <h1>@item.Category</h1>
                </th>
            </tr>
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Identifier
                </th>
                <th>
                    ID
                </th>


            </tr>

        </thead>

        @foreach (var dish in item.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dish.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Identifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Id)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=dish.Id  }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }



    }
        </tbody>
    </table>


